
<table>
    <thead>
        <tr>
            <th><%= link_to "Name",users_path(:sort => "username") %></th>
            <th>Email</th>
            <th>Joined</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.order(:username)  %></td>
            <td><%= user.email %></td>
            <td><%= "#{time_ago_in_words(user.created_at)} ago" %></td>
        </tr>
    <% end %>
</table>
